.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 80%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 30%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 80%
    right: 70%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


.tarjeta.color-primario,.cajon.color-primario
  background-color: lighten($color-primario, 35%)
  p, h4
    color: $black

.tarjeta.tarjeta--azul.acordion__activo
  background-color: $color-adicional-1

.acordion__accion__btn--a
  background-color: $color-acento-botones
  i
    color: $white

.tarjeta.color-acento-contenido
  background-color: lighten($color-acento-contenido, 25%)

.BGIMG01
  border-radius: 15px
  background-image: url("../assets/curso/temas/fondo-color.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center  

.linea-tiempo-e:before
  left: 15%
.linea-tiempo-e__item__header
  width: 15%
.linea-tiempo-e__item__header
  h3
    margin-top: 1rem

.linea-tiempo-d__item.row.linea-tiempo-d__item--selected
  .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
    background-color: lighten($color-primario, 35%)

.tarjetas-up
  overflow: hidden
  border-radius: 5px
  position: relative
  &_card
    transition: bottom .3s ease-in-out
    position: absolute
    border-radius: 5px
    width: 100%
    height: 100%
    left: 0
    bottom: -75%
    @media (max-width: $bp-max-md)
      bottom: -75%
    i:last-child
      display: none
  &:hover
    .tarjetas-up_card
      bottom: 0%
      // @media (max-width: $bp-max-xl)
      //   bottom: -15%
      // @media (max-width: $bp-max-lg)
      //   bottom: 0
      // @media (max-width: $bp-max-md)
      //   bottom: -30%
      // @media (max-width: $bp-max-sm)
      //   bottom: -20%
      // @media (max-width: $bp-max-xs)
      //   bottom: 0
    i:first-child
      display: none
    i:last-child
      display: block